<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="stuff.length <= 0 && !loading">Pas d'assignments !</p>

<div class="stuff-grid" *ngIf="stuff.length >= 0">
  <div class="assignment-pane"
       *ngFor="let assignment of stuff"
       [ngClass]="{'open': assignment._id === chosenId}"
       [ngStyle]="{'background-image': 'url(' + assignment.imageUrl + ')'}"
       (click)="onProductClicked(assignment._id)" >
    <div class="assignment-info">
      <h3>
        {{ assignment.nom }}
      </h3>
      <h5>Attribuer à: {{ assignment.auteur}}</h5>
      <div *ngIf="!assignment.note">
      <h5> A rendre le : {{ assignment.dateRendu | date:'dd/MM/yyyy'}}</h5>
    </div>
      <div *ngIf="assignment.note">
          <h6> rendu</h6>
      </div>
    </div>
  </div>
</div>



